@model pweb1920.Models.DTO.CreateChargingPointDTO

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "ChargingPoints", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <label class="control-label col-md-2" for="ChargingModeId">Charging Modes</label>
        @foreach (var mode in Model.ChargingModesList)
        {
            <label class="radio-inline">
                <input type="radio" name="ChargingModeId" value="@mode.Id" required>@mode.Name
            </label>
        }
    </div>

    <div class="form-group">
        <input type="hidden" name="StationId" value="@Model.StationId" />
        <input type="submit" value="Create" class="btn btn-default" />
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
