<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - iCharged U</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("iCharged U", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Companies" ? "active" : "")">
                                @Html.ActionLink("Companies", "Index", "Companies")
                            </li>
                            <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Stations" ? "active" : "")">
                                @Html.ActionLink("Stations", "Index", "Stations")
                            </li>
                            <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Reservations" ? "active" : "")">
                                @Html.ActionLink("Reservations", "Index", "Reservations")
                            </li>
                        }
                        else if (User.IsInRole("Client"))
                        {
                            <li class="dropdown @(ViewContext.RouteData.Values["controller"].ToString() == "Reservations" ? "active" : "")">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Reservations
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Reservations" && ViewContext.RouteData.Values["action"].ToString() == "Index" ? "active" : "")">
                                        @Html.ActionLink("List", "Index", "Reservations")
                                    </li>
                                    <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Reservations" && ViewContext.RouteData.Values["action"].ToString() == "Create" ? "active" : "")">
                                        @Html.ActionLink("Create", "Create", "Reservations")
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown @(ViewContext.RouteData.Values["controller"].ToString() == "Stations" ? "active" : "")">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Stations
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Stations" && ViewContext.RouteData.Values["action"].ToString() == "Index" ? "active" : "")">
                                        @Html.ActionLink("List", "Index", "Stations")
                                    </li>
                                    <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Stations" && ViewContext.RouteData.Values["action"].ToString() == "Search" ? "active" : "")">
                                        @Html.ActionLink("Search", "Search", "Stations")
                                    </li>
                                </ul>
                            </li>

                            <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Stations" ? "active" : "")">

                            </li>
                        }
                        else if (User.IsInRole("Company"))
                        {
                            <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Stations" ? "active" : "")">
                                @Html.ActionLink("Stations", "Index", "Stations")
                            </li>
                        }
                    }
                    else
                    {

                        <li class="@(ViewContext.RouteData.Values["action"].ToString() == "About" ? "active" : "")">
                            <a href="#about-section">About</a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["action"].ToString() == "Contact" ? "active" : "")">
                            <a href="#contact-section">Contact</a>
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - iCharged U</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            $("a").on('click', function (event) {
                if (this.hash !== "") {
                    event.preventDefault();
                    var hash = this.hash;
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 800, function () {
                        window.location.hash = hash;
                    });
                }
            });


            $('ul.nav li.dropdown').hover(function () {
                $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(200);
            }, function () {
                $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(200);
            });
        });
    </script>
</body>
</html>