@model pweb1920.Models.DTO.StartCreateDTO

@{
    ViewBag.Title = "Create Reservation";
}

<style type="text/css">
    .selectwidthauto {
        min-width: 100%;
    }
</style>

<div class="row">
            <h3>
                Create Reservation
            </h3>
            @using (Html.BeginForm("ShowFreeSlots", "Reservations", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.District, new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.District, Model.DistrictDropDown, "Please select", new { @class = "form-control selectwidthauto" })
                        
                        @Html.LabelFor(m => m.City, new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.City, new SelectList(""), "Please select", new { @class = "form-control selectwidthauto", disabled = "disabled" })
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.Station, new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.Station, new SelectList(""), "Please select", new { @class = "form-control selectwidthauto", disabled = "disabled" })

                        @Html.LabelFor(model => model.Date, new { @class = "control-label" })
                        @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control selectwidthauto", disabled = "disabled" } })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        @Html.ValidationMessageFor(m => m.District, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(m => m.Station, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                        <input type="submit" value="Continue" class="btn btn-default pull-right" />
                    </div>
                </div>
            }
        </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#District").change(function () {
                $.get("/Reservations/GetCities", { DistrictId: $("#District").val() }, function (data) {
                    $("#City").empty();
                    $("#City").attr("disabled", false);
                    $("#City").append("<option value>" + "Please select" + "</option>")
                    $.each(data, function (index, row) {
                        $("#City").append("<option value='" + row.Id + "'>" + row.City + "</option>")
                    });
                });
            });

            $("#City").change(function () {
                $.get("/Reservations/GetStations", { CityId: $("#City").val() }, function (data) {
                    $("#Station").empty();
                    $("#Station").attr("disabled", false);
                    $("#Station").append("<option value>" + "Please select" + "</option>")
                    $.each(data, function (index, row) {
                        $("#Station").append("<option value='" + row.Id + "'>" + row.Name + "</option>")
                    });
                });
            });

            $("#Station").change(function () {
                    $("#Date").attr("disabled", false);
            });
        });
    </script>
}
