@model IEnumerable<pweb1920.DAL.Reservation>

@{
    ViewBag.Title = "Reservations";
}

<div class="row">
    <div class="col-md-12">
        <h2>
            <span>Reservations</span>
        </h2>
        <div class="table-responsive">
            <table class="table table-bordered table-hover text-center">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.TimeStart)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TimeFinish)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ServiceCode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EstimatedCost)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.TimeStart)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TimeFinish)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ServiceCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EstimatedCost)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
