@model IEnumerable<pweb1920.Models.ViewModels.ReservationDetailsViewModel>

@{
    ViewBag.Title = "Reservations";
}

<div class="row">
    <div class="col-md-12">
        <h2>
            <span>Reservations</span>
            <a class="btn btn-success btn-sm pull-right" href="@Url.Action("Create", "Reservations")" role="button">
                <span class="glyphicon glyphicon glyphicon-plus"></span> Add reservation
            </a>
        </h2>
        <div class="table-responsive">
            <table class="table table-bordered text-center">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StationName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EstimatedCost)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr onclick="createModal('@Url.Action("Details", "Reservations" , new {id = item.Id })')" style="cursor: pointer" class="row-hover">
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StationName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EstimatedCost)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                        </tr>
                    }
                    @for (var i = 0; i < (10 - Model.Count()); i++)
                    {
                <tr>
                    <td colspan="4">
                        &nbsp;
                    </td>
                </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="details-modal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

<script type="text/javascript">
    function createModal(url) {
        $('#details-modal .modal-content').load(url);
        $('#details-modal').modal('show');
    }
</script>