@model IEnumerable<pweb1920.DAL.Reservation>

@{
    ViewBag.Title = "Reservations";
}

<div class="row">
    <div class="col-md-12">
        <h2>
            <span>Reservations</span>
            <a class="btn btn-success btn-sm pull-right" href="@Url.Action("Create", "Reservations")" role="button">
                <span class="glyphicon glyphicon glyphicon-plus"></span> Add reservation
            </a>
        </h2>
        <div class="table-responsive">
            <table class="table table-bordered text-center">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.TimeStart)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TimeFinish)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ServiceCode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EstimatedCost)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr onclick="location.href = '@(Url.Action("Details", "Reservations", new { id = item.Id }))'" style="cursor: pointer" class="row-hover">
                            <td>
                                @Html.DisplayFor(modelItem => item.TimeStart)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TimeFinish)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ServiceCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EstimatedCost)
                            </td>
                        </tr>
                    }
                    @for (var i = 0; i < (10 - Model.Count()); i++)
                    {
                        <tr>
                            <td>
                                --
                            </td>
                            <td>
                                --
                            </td>
                            <td>
                                --
                            </td>
                            <td>
                                --
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
