@model pweb1920.Models.DTO.ShowFreeSlotsDTO

@{ 
    ViewBag.Title = "Create Reservation";
}

@using (Html.BeginForm("Create", "Reservations", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Charging Point
                    </th>
                    <th>
                        Time
                    </th>
                    <th>
                        Charging Mode
                    </th>
                    <th>
                       
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Reservations.Count; i++)
                {
                    @Html.HiddenFor(m => m.Reservations[i].Date)
                <tr>
                    <td>
                        CP-@Html.DisplayFor(m => m.Reservations[i].ChargingPoint.Id)
                        @Html.HiddenFor(m => m.Reservations[i].ChargingPoint.Id)
                    </td>
                    <td>
                        <p style="text-align: left;">
                            <b>From:</b>
                            @Html.DisplayFor(m => m.Reservations[i].TimeStart)
                            @Html.HiddenFor(m => m.Reservations[i].TimeStart)
                            <br />
                            <b>To:</b>
                            @Html.DisplayFor(m => m.Reservations[i].TimeFinish)
                            @Html.HiddenFor(m => m.Reservations[i].TimeFinish)
                        </p>
                    </td>
                    <td>
                        @{
                            var chargingModesList = Model.Reservations[i].ChargingPoint.ChargingModes.ToList();
                            var selectList = chargingModesList.Where(e => e.ChargingPoint.Contains(Model.Reservations[i].ChargingPoint)).ToList();
                        }

                        @Html.DropDownListFor(m => m.Reservations[i].ChargingMode.Id,
                       new SelectList(selectList, "Id", "Name"),
                       "Please select", new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.CheckBoxFor(m => m.Reservations[i].Selected)
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="Finish" class="btn btn-default pull-right" />
            </div>
        </div>
    </div>

}