@model pweb1920.Models.DTO.StationDetailsDTO

@{
    ViewBag.Title = "Station - Details";
}

    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Search", "Stations")">
                        <span class="glyphicon glyphicon-list"></span>
                    </a>
                </li>
                <li>
                    @Html.ActionLink(Model.Station.District, "Search", "Stations", new { district = Model.Station.Id }, null)
                </li>
                <li>
                    @Html.ActionLink(Model.Station.City, "Search", "Stations", new { district = Model.Station.Id, city = Model.Station.Id }, null)
                </li>
                <li class="active">
                    @Html.DisplayFor(model => Model.Station.Name)
                </li>
            </ol>
            <h2>
                <span>
                    Details
                    <small>@Html.DisplayFor(model => Model.Station.Name)</small>
                </span>
                @if (!User.IsInRole("Client"))
                {
                    <a class="btn btn-info btn-sm pull-right" href="@Url.Action("Edit", "Stations", new { id = Model.Station.Id })" role="button">
                        <span class="glyphicon glyphicon glyphicon-edit"></span> Edit
                    </a>
                }
            </h2>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Station.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Station.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Station.StreetAdress)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Station.StreetAdress)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Station.City)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Station.City)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Station.District)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Station.District)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Station.Status)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Station.Status)
                </dd>
            </dl>
            <a class="btn btn-primary btn-sm pull-right" href="@Url.Action("Index", "Stations")" role="button">
                <span class="glyphicon glyphicon-share-alt"></span> Back to List
            </a>
        </div>
    </div>
