@model pweb1920.Models.DTO.StationDTO

@{
    ViewBag.Title = "Stations";
}

<div class="row">
    <div class="col-md-12">
        <h2>
            <span>Stations</span>
            <a class="btn btn-default btn-sm pull-right" href="@Url.Action("Search", "Stations")" role="button">
                <span class="glyphicon glyphicon glyphicon-search"></span> Search
            </a>
        </h2>
        <div class="table-responsive">
            <table class="table table-bordered text-center">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.StationList.FirstOrDefault().Name)
                        </th>
                        <th>
                            Address
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StationList.FirstOrDefault().Status)
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @if (Model != null)
                    {
                        foreach (var item in Model.StationList)
                        {
                    <tr onclick="location.href = '@(Url.Action("Details", "Stations", new { id = item.Id }))'" style="cursor: pointer" class="row-hover">
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StreetAdress),
                            @Html.DisplayFor(modelItem => item.City).&nbsp;
                            @Html.DisplayFor(modelItem => item.District).
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                    </tr>
                        }
                        for (var i = 0; i < (10 - Model.StationList.Count()); i++)
                        {
                            <tr>
                                <td colspan="3">
                                    &nbsp;
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>